<footer>
    <div class="footer-text">
        <p id="admin"><a href="/admin">Administración</a></p>
        <p class="p_footer">Todos los derechos reservados® - Angelo Borsato</p>
    </div>

    <div class="redes_box">
        <span id="redes_texto">Síguenos:</span>
        <div class="icones">
            <a href="https://www.twitter.com" id="twitter" target="_blank" aria-label="Twitter"></a>
            <a href="https://www.facebook.com" id="facebook" target="_blank" aria-label="Facebook"></a>
            <a href="https://www.instagram.com" id="instagram" target="_blank" aria-label="Instagram"></a>
            <a href="https://www.tiktok.com" id="tiktok" target="_blank" aria-label="TikTok"></a>
            <a href="https://www.youtube.com" id="youtube" target="_blank" aria-label="Youtube"></a>
        </div>
    </div>

</footer>